version: "3.9"


services:
  bot:
    # Build image from local Dockerfile so compose uses current code
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: queuebot
    restart: unless-stopped
    env_file: .env
    working_dir: /app
    environment:
      - PYTHONPATH=/app
    depends_on:
      - mongo
      - loki
      - promtail
    volumes:
      - ./app:/app/app
      - /var/log/queuebot:/var/log/queuebot
    networks:
      - internal

  mongo:
    image: mongo:8.0
    container_name: queuebot_mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
    command: --wiredTigerCacheSizeGB 1 --auth
    networks:
      - internal

  mongo-express:
    image: mongo-express:1.0
    container_name: queuebot_mongo_express
    restart: unless-stopped
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: ${MONGO_USER}
      ME_CONFIG_MONGODB_ADMINPASSWORD: ${MONGO_PASS}
      ME_CONFIG_MONGODB_SERVER: mongo
    depends_on:
      - mongo
    networks:
      - internal

  promtail:
    image: grafana/promtail:latest
    container_name: promtail
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - ./docker/promtail/promtail-config.yaml:/etc/promtail/custom-config.yaml
      - /etc/localtime:/etc/localtime:ro
      - /var/log/queuebot:/var/log/queuebot:ro
    command: -config.file=/etc/promtail/custom-config.yaml
    privileged: true
    networks:
      - internal

  loki:
    image: grafana/loki:latest
    container_name: loki
    ports:
      - "3100:3100"
    volumes:
      - ./docker/loki/loki-config.yaml:/etc/loki/custom-config.yaml
      - loki_data:/loki
    command: -config.file=/etc/loki/custom-config.yaml
    networks:
      - internal

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
      GF_SERVER_ROOT_URL: http://localhost:3000
    volumes:
      - ./docker/grafana/datasources.yaml:/etc/grafana/provisioning/datasources/datasources.yaml
      - ./docker/grafana/dashboards:/etc/grafana/provisioning/dashboards
      - grafanadata:/var/lib/grafana
      - /etc/localtime:/etc/localtime:ro
    depends_on:
      - loki
    networks:
      - internal

volumes:
  mongo_data:
  loki_data:
  grafanadata:

networks:
  internal:
